<h1>Hello world</h1>
<p>Coming from articles#index</p>

<%= link_to "New article", new_article_path %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Content</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |a| %>
    <tr>
      <td><%= a.title %></td>
      <td><%= a.author %></td>
      <td><%= a.content.truncate(100) %></td>
      <td><%= link_to "Edit", edit_article_path(a.id) %>
      |
      <%= link_to article_path(a.id), method: :delete, data: {confirm: "Are you sure?"} do %> Delete <%end%>
      </td>
    </tr>
    <%end%>
  </tbody>
</table>
